* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vw;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  position: relative;
  color: var(--grey);
  text-decoration: none;

  margin-top: 0rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
  border: 2px;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
  justify-items: center;
}

.youtube {
  text-align: center;
  border-style: hidden;

  border-spacing: 0px;
  border-color: white;
}
.youtube:hover {
  border: 4px;
  border-style: solid;
  border-color: red;
  transition: 0.5s;
  opacity: 0.7;
}

.facebook {
  text-align: center;
  border-style: hidden;

  border-color: white;
}
.facebook:hover {
  border: 4px;
  border-style: solid;
  border-color: blue;
  transition: 0.5s;
  opacity: 0.7;
}

.instagram {
  text-align: center;
  border-style: hidden;
  border-color: white;
}
.instagram:hover {
  border: 4px;
  border-style: solid;
  border-color: rgb(226, 123, 6);
  transition: 0.5s;
  opacity: 0.7;
}

.twitter {
  border-style: hidden;
  border-color: white;
}
.twitter:hover {
  border: 4px;
  border-style: solid;
  border-color: blue;
  transition: 0.5s;
  opacity: 0.7;
}

.linkedin {
  border-style: hidden;

  border-color: white;
}
.linkedin:hover {
  border: 4px;
  border-style: solid;
  border-color: blue;
  transition: 0.5s;
  opacity: 0.7;
}
